<!DOCTYPE html>
<html>
<head>
    <title>WebSocket Example</title>
    <!-- Tu contenido de encabezado, enlaces a CSS, etc. -->
</head>
<body>
    <h1 id="app"></h1>
    <h1 id="app2"></h1>

    <script>
        const ws = new WebSocket('ws://' + window.location.host + ':8003/ws/realtimestobspy/4/');

        ws.onmessage = function(e) {
            var djangoData = JSON.parse(e.data);
            console.log(djangoData.value);
            console.log(djangoData.time);
            document.querySelector('#app').innerText = djangoData.value;
            document.querySelector('#app2').innerText = djangoData.time;
        }
    </script>
</body>
</html>
