{% extends "main/header.html" %}
{% load static %}

{% block content %}
  {% load crispy_forms_tags %}  

  <style>
    /* Estilos para centrar el contenido */
    .container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }

    /* Estilos para el formulario */
    .card {
      width: 400px;
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .card-title {
      text-align: center;
      color: #333;
    }

    .card-text {
      color: #666;
    }

    .btn-primary {
      margin-top: 20px;
      width: 100%;
      padding: 10px 0;
      border: none;
      border-radius: 5px;
      background-color: #0000CA;
      color: #fff;
      font-weight: bold;
      text-transform: uppercase;
      transition: background-color 0.3s ease;
    }

  </style>

  <!-- Password Reset Confirm -->
  <div class="container">
    <div class="card">
      <div class="card-body">
        <h2 class="card-title font-weight-bold">Confirmación de cambio de contraseña</h2>
        <hr>
        <p class="card-text">Por favor, ingrese su contraseña.</p>
        <form method="POST">
          {% csrf_token %}
          {{ form|crispy }}                    
          <button class="btn btn-primary" type="submit">Cambiar contraseña</button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
