<!-- En tu archivo HTML -->
<!DOCTYPE html>
<html>
<head>
    <title>WebSocket Test</title>
    <script>
        const socket = new WebSocket('ws://' + window.location.host + '/ws/notificaciones/SAB/'); // Reemplaza con tu URL WebSocket
        socket.onmessage = function(event) {
            const mensaje = JSON.parse(event.data);
            // Maneja el mensaje recibido
            console.log('Mensaje recibido:', mensaje);
        };
    </script>
</head>
<body>
    <!-- Tu contenido HTML -->
</body>
</html>
