<!-- En tu archivo HTML -->
<!DOCTYPE html>
<html>
<head>
    <title>WebSocket Test</title>
    <script>
        const socket = new WebSocket('ws://' + window.location.host + '/ws/notificaciones/volcan_SABANCAYA/'); // Reemplaza con tu URL WebSocket
        //const socket = new WebSocket('ws://' + window.location.host + '/ws/realtime/SAB/');
        socket.onmessage = function(event) {
            const mensaje = JSON.parse(event.data);
            // Maneja el mensaje recibido
            console.log('Mensaje recibido:', mensaje);
        };
        socket.onopen = function(e) {
            console.log('CONNETC');
        };

        socket.onclose = function(e) {
            console.error(e);
        };
    </script>
</head>
<body>
    <!-- Tu contenido HTML -->
</body>
</html>
